<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Profile</title>
</head>
<body>
    <div class="container-fluid d-flex flex-column align-items-center mt-3">
        <h1 class="my-3">Add your profile course</h1>

        <form class="mt-3 col-5" action="/addProfile" method="post">
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control border-secondary" name="firstName">
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control border-secondary" name="lastName">
            </div>
            <div class="mb-3">
                <label class="form-label">Date of Birth</label>
                <input type="date" class="form-control border-secondary" name="dateOfBirth">
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-control border-secondary" name="gender">
                    <option value="" selected>Choose your Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-warning">Add Profile</button>
            </div>
        </form>
    </div>    
    <%- include('partials/_boostraps') %>
</body>
</html>