<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Take Course</title>
</head>
<body>
    <h1>Please fill form</h1>
    <form action="" method="post">
        <input type="hidden" name="<%= id %>">
        <div>
            <label>Choose Your Course</label>
            <select name="name" id="">
                <option value="" disabled selected> -- </option>
            </select>
        </div>
    </form>
</body>
</html>