<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<div class="container-fluid d-flex flex-column align-items-center mt-3">
    <h1 class="my-3">Sign up and start learning</h1>
    <% if (error) { %>
        <% error.split(',').forEach(each => { %>
        <div class="alert alert-warning alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Warning!</strong> <%= each %>.
          </div>
          <% }) %>
    <% } %>
    <form class="mt-3 col-5" action="/register" method="post">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control border-secondary" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control border-secondary" name="password">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control border-secondary" name="email">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-warning">Sign up</button>
        </div>
    </form>
    <div>
        Already have an account? Login here! <a href="/login" type="button" class="btn btn-outline-warning"> ▶️ </a>
    </div>
</div>
    <%- include('partials/_boostraps') %>
</body>
</html>